{% extends 'base.html.twig' %}

{% block title 'VideogameDB'%}

{% block body %}
	<div class="example-wrapper">
		<div class="jumbotron text-center">
			<h1>Jeux video</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, eius. Illo doloremque reiciendis placeat obcaecati debitis eum tempora quibusdam similique dolores dolorum assumenda tenetur, consequatur repellat fuga excepturi nesciunt modi?</p>
		</div>
		<div class="container">
			<h2>Les derniers jeux videos
			</h2>
			<div class="row flex">
				{% for videogame in videogames %}
					<div class="col-3">
						<div class="card">
							<div class="card-body">
								<h5
									class="card-title">{# <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title}}</a> #}
								</h5>
								<p class="card-text">Nom du jeu :
									{{ videogame.name }}
								</p>
								{% if videogame.imageFilename is not null %}
									<p class="card-text">
										Image :
									<img src="{{ videogame.imageFilename }}"/>
									</p>
								{% endif %}
								<p class="card-text">Date de sortie :
									{{ videogame.releaseDate|date('Y-m-d')}}
								</p>
								<p class="card-text">Genre :
									{% for videogame in videogame.categories %}
										{{ videogame.label}}
									{% endfor %}
								</p>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>


	</div>
{% endblock %}
